@model IEnumerable<MoviesWebApplication.Production>

@{
    ViewData["Title"] = "Index";
}

<h1>Провідні кінокомпанії світу</h1>


<h5>Завантаження інформації з файлу</h5>
@using (Html.BeginForm("Import", "Productions", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
{
    <div>
        <input type="file" name="fileExcel" id="fileExcel" /> <input type="submit" value="Завантажити" />
    </div>
}

    <h5>Вивантаження інформації у файл</h5>
    <form method="post" asp-controller="Productions" asp-action="Export"> <input type="submit" value="Вивантажити" /> 
    </form>

<p>
    @{
    if (User.IsInRole("admin"))
    {
        <form method="post" asp-controller="Productions" asp-action="Create">
            <input type="submit" value="Додати кіностудію" />
        </form>
    }
}
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Роботи кінокомпанії</a>
                    @{
                        if (User.IsInRole("admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id">| Видалити |</a>
                            <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div id="chart1"></div>
</div>
@section scripts{
<script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Charts/JsonData1', function(JsonData1) {
                data = google.visualization.arrayToDataTable(JsonData1, false);
                var option = {
                    title: "Співвідношення кількості фільмів та кінокомпаній",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
</script>
}
