@model IEnumerable<MoviesWebApplication.ArtistsJobsInMovie>

@{
    ViewData["Title"] = "Index";
}

<h1>Фільми жанру @ViewBag.CurrentArtistName</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Movie.Name, "Details", "Movies", routeValues: new {id = @item.Movie.Id})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job)
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
   @Html.ActionLink("Повернутися назад", "ArtistList" ,"Artists" )
 </div>
