@model IEnumerable<MoviesWebApplication.MoviesGenre>

<h1>Фільми жанру: </h1> <h1>@ViewBag.CurrentGenreName</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Movie.Name, "Details", "Movies", routeValues: new {id = @item.Movie.Id})
            </td>
            
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>

<div>
@*    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
   @Html.ActionLink("Повернутися назад", "GenresList" ,"Genres" )</div>
